Options -Indexes

<IfModule mod_authz_core.c>
  <FilesMatch "\.(sqlite|sqlite-journal|sql)$">
    Require all denied
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^includes/ - [F,L]
  RewriteRule ^var/ - [F,L]
  RewriteRule ^sql/ - [F,L]
  RewriteRule ^tools/ - [F,L]
</IfModule>
